@import 'backgrounds.scss';
@import 'hovers.scss';
@import 'mixins.scss';

// Global SCSS
html {

}

p {
  margin: 0;
}

// Navbar SCSS
.navbar {
  margin-top: 40px;
  #internal-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1024px;
  }
}
